* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;

}


h1 {
    color: white;
    text-align: center;
    width: 100vw;
    height: 80vh;
    font-size: 70px;
    font-weight: lighter;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 18px;
    font-weight: lighter
}

h2 {
    margin: 10px;
    font-size: 16px
}

.apple_image {
    width: 100%;
}

img {
    width: 100%;
    display: block;
}

.image1 {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

.image2 {
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

ul {
    list-style-type: thai
}

.image_size {
    padding: 100px
}

.margin {
    padding: 30px 100px;
}

p {
    padding: 30px
}

.text {
    padding: 30px 40px;
    font-weight: lighter
}